.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
#colorButton {
  padding: 10px;
  background-color: black;
  color: white;
  margin: 1rem;
}

.clrpalette {
  display: flex;
  color: white;
  margin: 2rem;
  text-align: center;
}

.container {
  padding: 30px;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
